body{
	text-align: center;
	font-family: 'Be Vietnam Pro', sans-serif;
	color: #FFA161;
  background-color: white;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.name{
	padding-top: 100px;
	font-size: 70px;
}


.spacing{
	display: flex;
	justify-content: space-around;
	padding-top: 70px;
  padding-bottom:100px;

}

h4{
  padding-top: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 150px;
  height: 150px;
  border: 5px solid 0;
}

.image {
  width: 100%;
  height: 100%;
  height: auto;
  border: 5px solid 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFA161;
  border-radius: 30%;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: .2s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#aboutme {
  padding-top: 3%;
  min-height: auto;
  background-color: #FFA161;
  color: white;
}

.aboutme {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  text-align: center;
}

.header{
  border-top: 2px solid white;
  padding-left: 10%;
  padding-right: 10%;
  margin: 25px 10%;
  padding-top: 3%
}

.exp{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.jobs{
  text-align: left;
  padding-bottom: 2%;
}

.logo{
  padding-bottom: 5%;
  opacity: 50%;
}

.skills{
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.list{
  text-align: left;
  padding-top: 2%;
  padding-bottom: 7%;
  padding-left:15%;
  padding-right: 5%;
}

.education{
  padding-bottom: 1%;
  padding-left:15%;
  padding-right: 5%;
}

#portfolio {
  padding: 30px 0 30px 0;
  height: 350px;
}

.row1{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #c0c0c0;
  color: black;
}

.flip-card-back {
  background-color: #FFA161;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  margin-bottom: 10px;
}

#contactme {
  padding-top: 30px;
  height: 300px;
  background-color: #c0c0c0;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
}

.icons .border:hover{
background: #FFA161;
border-radius: 50%;
}